body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: relative;
    background: white;
    height: 100%;
}

a:link, a:hover, a:visited, a:active{
    color: #7E0308;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin-left: 40px;
    margin-bottom: 20px;
}

.mission_points {
    font-weight: bold;
}

.assemble_title {
    font-family: Times, serif;
    font-size: 1.2em;
}
#title {
    background: #BFBFBF;
    height: 280px;
    color: white;
}

.title-placement {
    width: 960px;
    margin: auto;
    height: inherit;
    position: relative;
}

h1.title-text {
    font-family: Times, serif;
    font-size: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    bottom: -20px;
}

#subtitle {
    width: 960px;
    margin: auto;
    margin-top: 5px;
    color: #7E0308;
    font-size: 22px;
    font-style: italic;
}

.subtitle-text {
    margin-left: 250px;
}

#mission-statement {
    margin-top:  15px;
    background-color: white;
}

.mission {
    text-align: left;
    padding-top: 8px;
    width: 960px;
    margin:auto;
}

#footer {
    width: 960px;
    margin:auto;
}

p {
    margin-bottom: 10px;
}